body{
font-family: "Plus Jakarta Sans", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 300;
  font-weight: 500;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
    flex: 1;
}
.navbar{
    height: 5rem;
    background-color: white;
}
.fa-compass{
    color: #fa424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: lightgray;
    flex-wrap: wrap;
    justify-content: center;  
}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.5rem;
    margin-right: .3rem;
    margin-left: .3rem;
}
.f-info-links a:hover{
    text-decoration: underline;
}
/* card */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text{
    font-weight: 400 !important;
}
.card-link{
    text-decoration: none;
}
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.3;
    background-color: white;
}


/* New Page */
.list-btn{
    background-color: #fe424d !important;
    border: #fa424d !important; 
}

/*Show page*/

.show-img{
    height: 40vh;
}
.btns{
    display: flex;
    gap: 1.5rem;
}
.filters{
    display: flex;
    flex-wrap: wrap;
}
.filter{
    margin-top: 2rem;
    text-align: center;
    margin-right: 1.5rem;
    opacity: 0.7;
}
.tax-switch{
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
.switch{
    font-size: 1.2rem;
}
.tax-label{
    font-size: 1.1rem;
}
.tax-s-s{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tax{
    display: none;
}
.filter:hover{
    opacity: 1;
    cursor: pointer;
}
#map-box{
    height: 400px;
    width: 80vh;
}
#autocomplete-data{
    border: 2px solid gray;
    border-radius: 6px;
    border-top: 0px;
}
.auto-cls{
    margin: 0px;
    padding-top: 0.2rem;
    padding-bottom: 0.1rem;
    margin-top: 0.1rem;
    background-color: hwb(0 93% 6%);
}
.auto-cls:hover{
    cursor: pointer;
}